<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
    <div class="container-fluid px-4">

        <a class="navbar-brand" href="/">
            <img src="/images/logo (2).png" alt="StayERA Logo" height="50">
        </a>

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- Left -->
            <div class="navbar-nav">
                <a class="nav-link fw-semibold" href="/landingpg">
                    Explore
                </a>
            </div>

            <!-- Center Search -->
            <form class="d-flex mx-auto search-form">
                <input class="form-control search-box" type="search" placeholder="Search destinations">

                <button class="search-btn ms-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Search
                </button>
            </form>

            <!-- Right -->
            <div class="navbar-nav fw-bold ms-auto align-items-center">

                <% if(currentUser){ %>

                    <div class="user-profile">
                        <div class="avatar">
                            <%= currentUser.username.charAt(0).toUpperCase() %>
                        </div>
                        <a class="nav-link" href="/admin">
                            Dashboard
                        </a>
                    </div>
                    <% } %>



                        <% if (!currentUser) { %>
                            <a class="nav-link" href="/login">Log In</a>
                            <a class="nav-link" href="/signup">Sign Up</a>

                            <% } %>
            </div>

        </div>
    </div>
</nav>